<html>
    <head><title>Branch</title></head>
    <body>
        <form method="POST">
        <label>IFSC Code:</label>
        <label>{{ bank_i.ifsc }}</label><br>
        <label>Branch: </label>
        <label>{{ bank_i.branch }}</label><br>
        <label>Address: </label>
        <label>{{ bank_i.address }}</label><br>
        <label>Contact: </label>
        <label>{{ bank_i.contact }}</label><br>
        <label>District: </label>
        <label>{{ bank_i.district }}</label><br>
        <label>State: </label>
        <label>{{ bank_i.state }}</label>
        </form>
    </body>
</html>